@media screen and (max-width: 650px) {
    .options{
        visibility: hidden;
    }
    .nav-up a img{
        width: 60%;
    }
    .header .header-content h1{
        font-size: 40px;
    }
    .header .header-content p{
        font-size: 16px;
    }
    .header .header-content .header-btn a{
        padding: 7px 14px;
        border-radius: 5px;
        border: 2px solid #FFF;
    }
}